version: 2.1

orbs:
  terraform: ovotech/terraform@1.8

setup_credentials_: &setup_credentials_dev
  run:
    name: "Setup dev credentials"
    # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
    command: |
      echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_DEV"
                   AWS_ACCESS_KEY="$AWS_ACCESS_KEY_DEV"
                   AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_DEV"' >> $BASH_ENV

setup_credentials_2: &setup_credentials_prd
  run:
    name: "Setup prd credentials"
    # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
    command: |
      echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_PRD"' >> $BASH_ENV
      echo 'export AWS_ACCESS_KEY="$AWS_ACCESS_KEY_PRD"' >> $BASH_ENV
      echo 'export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_PRD"' >> $BASH_ENV

jobs:
  terraform_plan_dev:
    executor: terraform/default
    steps:
      - checkout
      - *setup_credentials_dev
      - terraform/plan:
          path: envs/dev

  terraform_plan_prd:
    executor: terraform/default
    steps:
      - checkout
      - *setup_credentials_prd
      - terraform/plan:
          path: envs/prd
  
  terraform_apply_dev:
    executor: terraform/default
    steps:
      - checkout
      - *setup_credentials_dev
      - terraform/apply:
          path: envs/dev
          auto_approve: true

  terraform_apply_prd:
    executor: terraform/default
    steps:
      - checkout
      - *setup_credentials_prd
      - terraform/apply:
          path: envs/prd
          auto_approve: true

workflows:
  plan:
    jobs:
      - terraform_plan_dev:
          filters:
            branches:
              ignore: main
      - terraform_plan_prd:
          filters:
            branches:
              ignore: main
  apply:
    jobs:
      - terraform_apply_dev:
          filters:
            branches:
              only: main
      - hold:
          type: approval
          requires:
            - terraform_apply_dev
      - terraform_apply_prd:
          requires:
            - hold
          filters:
            branches:
              only: main
