version: 2.1

orbs:
  terraform: ovotech/terraform@1.8

jobs:
  terraform_plan_dev:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_DEV"' >> $BASH_ENV
      - terraform/plan:
          path: envs/dev
          # workspace: dev
          # var_file: "dev.tfvars"

  terraform_plan_prd:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_PRD"' >> $BASH_ENV
      - terraform/plan:
          path: envs/prd
          # workspace: prd
          # var_file: "prd.tfvars"
  
  terraform_apply_dev:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_DEV"' >> $BASH_ENV
      - terraform/apply:
          path: envs/dev
          auto_approve: true
          # workspace: dev
          # var_file: "dev.tfvars"

  terraform_apply_prd:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_PRD"' >> $BASH_ENV
      - terraform/apply:
          path: envs/prd
          auto_approve: true
          # workspace: prd
          # var_file: "prd.tfvars"

workflows:
  plan:
    jobs:
      - terraform_plan_dev:
          filters:
            branches:
              ignore: main
      - terraform_plan_prd:
          filters:
            branches:
              ignore: main
  apply:
    jobs:
      - terraform_apply_dev:
          filters:
            branches:
              only: main
      - hold:
          type: approval
          requires:
            - terraform_apply_dev
      - terraform_apply_prd:
          requires:
            - hold
          filters:
            branches:
              only: main
