version: 2.1

orbs:
  terraform: ovotech/terraform@1.8

jobs:
  terraform_plan_dev:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_DEV"' >> $BASH_ENV
      - run: echo 'export AWS_ACCESS_KEY="$AWS_ACCESS_KEY_TEST"' >> $BASH_ENV
      - run: echo 'export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_TEST"' >> $BASH_ENV
      - run: echo "context_var from context = $context_var"
      - run: echo "GITHUB_USERNAME from env var = $GITHUB_USERNAME"
      - terraform/plan:
          path: envs/dev

  terraform_plan_prd:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_PRD"' >> $BASH_ENV
      - run: echo 'export AWS_ACCESS_KEY="$AWS_ACCESS_KEY_PRD"' >> $BASH_ENV
      - run: echo 'export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_PRD"' >> $BASH_ENV
      - terraform/plan:
          path: envs/prd

  terraform_apply_dev:
    executor: terraform/default
    steps:
      - checkout
      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_DEV"' >> $BASH_ENV
      - run: echo 'export AWS_ACCESS_KEY="$AWS_ACCESS_KEY_TEST"' >> $BASH_ENV
      - run: echo 'export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_TEST"' >> $BASH_ENV
      - terraform/apply:
          path: envs/dev
          auto_approve: true

  terraform_apply_prd:
    executor: terraform/default
    steps:
      - checkout

      # https://discuss.circleci.com/t/environment-variable-interpolation-not-working/20299/4
      - run: echo 'export GOOGLE_SERVICE_ACCOUNT="$GOOGLE_SERVICE_ACCOUNT_PRD"' >> $BASH_ENV
      - run: echo 'export AWS_ACCESS_KEY="$AWS_ACCESS_KEY_PRD"' >> $BASH_ENV
      - run: echo 'export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY_PRD"' >> $BASH_ENV
      - terraform/apply:
          path: envs/prd
          auto_approve: true

workflows:
  plan:
    jobs:
      - terraform_plan_dev:
          context:
            - dev
          filters:
            branches:
              ignore: main

      - terraform_plan_prd:
          filters:
            branches:
              ignore: main
  apply:
    jobs:
      - terraform_apply_dev:
          filters:
            branches:
              only: main
      - hold:
          type: approval
          requires:
            - terraform_apply_dev
      - terraform_apply_prd:
          requires:
            - hold
          filters:
            branches:
              only: main
