version: 2.1

orbs:
  terraform: ovotech/terraform@1.8

jobs:
  terraform_plan_dev:
    executor: terraform/default
    environment:
      GOOGLE_SERVICE_ACCOUNT: "${GOOGLE_SERVICE_ACCOUNT}"
      GOOGLE_SERVICE_ACCOUNT1: "${GOOGLE_SERVICE_ACCOUNT}"
    steps:
      - checkout
      - run: echo 'export BS_BUILD="Build No. $CIRCLE_BUILD_NUM for CircleCI"' >> $BASH_ENV
      - run:
          name: "echo BS_BUILDenvironment variables from org-global context"
          command: echo $BS_BUILD
          environment:
            GOOGLE_SERVICE_ACCOUNT1: $GOOGLE_SERVICE_ACCOUNT
      - terraform/plan:
          path: .
          workspace: dev
          var_file: "dev.tfvars"

  terraform_plan_prd:
    executor: terraform/default
    steps:
      - checkout
      - terraform/plan:
          path: .
          workspace: prd
          var_file: "prd.tfvars"
  
  terraform_apply_dev:
    executor: terraform/default
    steps:
      - checkout
      - terraform/apply:
          path: .
          auto_approve: true
          workspace: dev
          var_file: "dev.tfvars"

  terraform_apply_prd:
    executor: terraform/default
    steps:
      - checkout
      - terraform/apply:
          path: .
          auto_approve: true
          workspace: prd
          var_file: "prd.tfvars"

workflows:
  commit:
    jobs:
      - terraform_plan_dev:
          filters:
            branches:
              ignore: main
      # - terraform_plan_prd:
      #     filters:
      #       branches:
      #         ignore: main
      - terraform_apply_dev:
          filters:
            branches:
              only: main
      - terraform_apply_prd:
          filters:
            branches:
              only: main

